// tempcolour
@normal-hover-background: #ffeebf;

.mirror-diff-table
{
    .row
    {
        &.item
        {
            height: 40px;
            font-weight: 300;

            .name-slot
            {
                opacity: .7;
            }

            .folder-arrow
            {
                opacity: .7;
            }

            &:hover
            {
                background: fade(#ffeebf,3%);

                .divide-slot
                {
                    opacity: .8;
                }

                .name-slot
                {
                    opacity: .9;
                }

                .folder-arrow
                {
                    opacity: .9;
                }
            }
        }
    }
}