// tempcolour
@normal-hover-background: #ffeebf;

@modified-text: #dad316;
@modified-background: #f5d93f;

@error-modified-text: #dd6724;
@error-modified-background: #d08c47;

.mirror-diff-table
{
    .row
    {
        &.item
        {
            height: 40px;
            font-weight: 300;

            .name-slot
            {
                opacity: .7;
            }

            .folder-arrow
            {
                opacity: .7;
            }

            &:hover
            {
                background: fade(#ffeebf,3%);

                .divide-slot
                {
                    opacity: .8;
                }

                .name-slot
                {
                    opacity: .9;
                }

                .folder-arrow
                {
                    opacity: .9;
                }
            }

            &.modified
            {
                color: @modified-text;
                background: fade(@modified-background,5%);

                &:hover
                {
                    background: fade(@modified-background,8%);
                }
            }

            &.error-modified
            {
                color: @error-modified-text;
                background: fade(@error-modified-background,10%);

                &:hover
                {
                    background: fade(@error-modified-background,13%);
                }
            }
        }
    }
}