// tempcolour
@current-subheader: #2f53b0;
@changed-subheader: #b7340e;

.mirror-diff-table
{
    .col
    {
        height: 100%;
        display: inline-flex;
        vertical-align: top;
        align-items: center;

        .slot
        {
            height: 100%;
            display: flex;
            align-items: center;

            &.divide-slot
            {
                flex: 1;
                opacity: .4;
                padding: 0 12px;
            }
        }

        &.status-col
        {
            width: 45px;
        }

        &.name-col
        {
            flex: 1;

            .icon-slot
            {
                width: 25px;
            }

            .name-slot
            {
                padding: 0 8px;
            }
        }

        &.size-col
        {
            width: 185px;
        }

        &.modified-col
        {
            width: 300px;
        }

        &.divided-col
        {
            padding: 0 12px;
            box-sizing: border-box;
        }
    }

    .row
    {
        display: flex;

        &.header
        {
            height: 30px;
            font-weight: 600;

            &.mini-header
            {
                height: 15px;

                .divide-slot
                {
                    font-size: 10px;
                    opacity: .9;

                    &.current
                    {
                        color: @current-subheader;
                    }

                    &.change
                    {
                        color: @changed-subheader;
                    }
                }
            }
        }
    }
}