// tempcolour
@normal-hover-background: #ffeebf;

.mirror-diff-table
{
    .col
    {
        height: 100%;
        display: inline-flex;
        vertical-align: top;
        align-items: center;

        .slot
        {
            height: 100%;
            display: flex;
            align-items: center;

            &.divide-slot
            {
                flex: 1;
                opacity: .4;
                padding: 0 12px;
            }
        }

        &.status-col
        {
            width: 45px;
        }

        &.name-col
        {
            flex: 1;

            .icon-slot
            {
                width: 25px;
            }

            .name-slot
            {
                padding: 0 8px;
            }
        }

        &.size-col
        {
            width: 185px;
        }

        &.modified-col
        {
            width: 300px;
        }
    }

    .row
    {
        display: flex;

        &.header
        {
            height: 30px;
            font-weight: 600;
        }

        &.item
        {
            height: 40px;
            font-weight: 300;

            .name-slot
            {
                opacity: .7;
            }

            .folder-arrow
            {
                opacity: .7;
            }

            &:hover
            {
                background: fade(#ffeebf,3%);

                .divide-slot
                {
                    opacity: .8;
                }

                .name-slot
                {
                    opacity: .9;
                }

                .folder-arrow
                {
                    opacity: .9;
                }
            }
        }
    }
}